spawn=all
spawnName=enabled
spawn.=all
spawn!=all
spawn?=all
back=enabled
spawn+=all
spawn+enable=op
spawn+@sharedlocation=op
spawn+name=enabled
spawn+nameWithCoordinates=op
spawn-=all
spawn-name=enabled
spawn-@sharedlocation=op
spawns=all
home=all
sethome=all
spawnhelp=all
spawnblockdata=op
ta=enabled
ti=enabled
ok=enabled
top=op
up=op
dn=op
away=enabled
