AdvancedCommandsEnabled=false
allowWithCheatsDisabled=false
HomeWithNamedLocations=false
AllowToLeaveTheDragon=false
LimitTheNumberOfNamedLocationsPerPlayer=false
TheNamedLocationsLimitNumber=3
teleportask responseTimeLimitSeconds=45
teleportask requestJustCameInDelaySeconds=1.2
teleportask lastPlayerAskedTimeoutHours=9
away distanceAway=1500
away distanceVariance=500
away minDistanceFromSelf=1000
away maxDistanceFromSelf=1000000
away minDistanceFromWorldSpawn=500
away coolDownMinutes=360
yLimit=true
limitY=true
